@import '/styles/mixins.scss';

.wrapper {
  @include flex;
  width: 100%;
  color: #ccc;
  * {
    @include flex;
  }
  ul {
    gap: 3rem;
  }
  & > ul {
    @include auto_width;
    justify-content: space-between;
    margin: 3rem auto;
    :not(.logo) {
      svg {
        width: 0.75rem;
        height: auto;
        margin-right: 10px;
      }
      @media screen and (max-width: 1200px) {
        svg {
          display: none;
        }
      }
      @media screen and (max-width: 1080px) {
        [datatype='text'] {
          display: none;
        }
      }
      @media screen and (max-width: 768px) {
        button {
          display: none;
        }
      }
    }
  }
}
