@import 'scss-reset/_reset.scss';

* {
  // Since we are only using this font, it's okay to be !important
  // !DEV in case there are more fonts to be used, remove !important.
  font-family: 'Open Sans' !important;
}

h1 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.25;
}
p {
  font-weight: 400;
  line-height: 1.75;
}
