.container {
  color: white;
  .top {
    // gradiant
    background-image: linear-gradient(
      to bottom left,
      rgb(25, 32, 42),
      rgb(15, 20, 29)
    );
  }
  .bottom {
    background-image: linear-gradient(
      to bottom left,
      rgb(25, 32, 42),
      rgb(15, 20, 29)
    );
  }
}
